.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

@media (max-width: 900px) {
  .main-content {
    padding-bottom: calc(65px + var(--safe-bottom));
  }
}

